.matchContainer {
  text-align: center;
}

.matchHeader {
  margin-bottom: 24px;
}

.teamScore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreBoard {
  margin-bottom: 24px;
}

.score {
  padding: 0;
  height: 150px;
  width: 150px;
  margin: 10px;
  font-size: 80px;
  cursor: pointer;
}

.score:disabled {
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0.88);
  background-color: white;
}

.matchInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.matchActions {
  margin-top: 24px;
}

.matchActions button {
  margin: 0 8px;
}

.sets {
  font-size: 40px;
  font-weight: bolder;
}
